* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  max-width: 1200px;
  margin: 0 auto; 
  padding: 0 20px;
}

.container01 {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto; 
  padding: 0 20px; 
}

.full-width-bg {
  padding: 1rem 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75); 
  margin: 0 ;
  justify-items: center;
  padding: 1rem;         
  padding: 1rem 2rem;   
}


.main-nav {
  display: flex;
  gap: 2rem;
  list-style: none;     
}

.main-nav a {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: white;
}
.main-nav a:hover {
  color: rgb(255, 94, 0);
  text-decoration: underline;
  text-decoration-color: rgb(255, 81, 0);
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  }


body {
  font-family: Raleway, sans-serif;
  background-image: url(images/burgers.jpg); 
  background-size: cover; 
  background-position: right; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  color: #333; 
  line-height: 1.6; 
}


.above-fold {
  display: block;
  width: 75%;
  max-width: 800px;
  flex-direction: column; 
  justify-content: left;
  align-items: left;
  height: 100vh; 
  text-align: left;
  color: white; 
  padding: 20px;
}

.below-fold {
  display: inline-block;
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
  margin: auto; 
  padding: 20px;
}

.menu-item {
  display:inline-block;
  width: 23%;
  max-width: 500px;
  height: 600px;
  justify-content: space-between;
  align-items: center; 
  padding: 1rem; 
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 10px; 
  margin-bottom: 1rem; 
}

.scan-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 600px;
  justify-content: space-between;
  align-items: center; 
  padding: 1rem; 
  background-image: url(images/slant_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Alex Brush', cursive;
  font-size: 8rem; 
  margin-bottom: 1rem; 
  color: white;
}
h2 {
  font-size: 3rem; 
  margin-bottom: 1rem; 
  color: white;
}
h3 {
  font-size: 2rem; 
  margin-bottom: 1rem; 
  color: white;
}

p {
  font-size: 1.5rem; 
  margin-bottom: 1rem; 
  color: white;
}
p a {
  color: rgb(255, 94, 0); 
  text-decoration: none; 
}
p a:hover {
  text-decoration: underline; 
  text-decoration-color: rgb(255, 81, 0);
  text-decoration-thickness: 1px; 
  text-underline-offset: 5px; 
  transition: all 0.3s ease-in-out; 
}
button {
  background-color: rgb(255, 94, 0); 
  color: white; 
  padding: 1rem 2rem; 
  font-size: 1.5rem; 
  border-radius: 50px;
  cursor: pointer; 
  text-transform: uppercase; 
  transition: all 0.3s ease-in-out; 
}
button:hover {
  background-color: rgb(255, 81, 0); 
  transform: scale(1.05); 
}
button:focus {
  outline: none; 
}
button:active {
  transform: scale(0.95); 
}